services:
  service:
    build:
      context: .
      dockerfile: Dockerfile.service
    ports:
      - "8000:8000"
    environment:
      FLOWCRAFTER_CONFIG: /app/flowcrafter.php
    volumes:
      - flowcrafter_run:/tmp/flowcrafter

  observer:
    build:
      context: .
      dockerfile: Dockerfile.observer
    environment:
      FLOWCRAFTER_CONFIG: /app/flowcrafter.php
    volumes:
      - flowcrafter_run:/tmp/flowcrafter

  ui:
    image: wundii/flowcrafter-ui:latest
    ports:
      - '3000:3000'
    volumes:
      - ui-data:/flowcrafter/data

volumes:
  flowcrafter_run:
  ui-data:
