<?php

declare(strict_types=1);

use Wundii\Flowcrafter\Config\FlowcrafterConfig;

return static function (FlowcrafterConfig $flowcrafterConfig): void {
    $flowcrafterConfig->setStorageClass('Wundii\Flowcrafter\Storage\Redis');
    $flowcrafterConfig->setStorageUrl();
    $flowcrafterConfig->setStorageApiToken();
    $flowcrafterConfig->setStorageHost('localhost');
    $flowcrafterConfig->setStoragePort(6379);
    $flowcrafterConfig->setStorageUsername();
    $flowcrafterConfig->setStoragePassword();
    $flowcrafterConfig->setStorageDatabase();
    $flowcrafterConfig->setServerSecret();
    $flowcrafterConfig->setServerDescription();
    $flowcrafterConfig->setDependenciesInjection();
};
